@model AppliedJobsModel
@{
    Layout = "_Layout";
}
<main class="main my-jobs">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp"> Başvurduğum İlanlar</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">
                        <div class="row">
                            @foreach (var item in Model.Jobs)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <span class="flash"></span>
                                            <div class="image-box cstm-img"><img src="@item.Image" alt=""></div>
                                            <div class="right-info"><span class="location-small"> @item.City, @item.District</span></div>
                                        </div>
                                        <div class="card-block-info">
                                            <h6><a href="/is-ilani-detay/@item.Id">@item.Title</a></h6>
                                            <div class="mt-5"><span class="card-briefcase">@item.EmployeeCount Kişi</span><span class="card-time">@item.PublishDate.ToString("dd.MM.yyyy")</span></div>
                                            <p class="font-sm color-text-paragraph mt-15">@item.Description</p>
                                            <div class="mt-30 tags">
                                                @if (item.Tags != null)
                                                {
                                                    @foreach (var tag in item.Tags)
                                                    {
                                                        @if (tag != null)
                                                        {
                                                            <a class="btn btn-grey-small mr-5">@tag.DisplayName</a>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="card-2-bottom mt-30">
                                                <div class="row">
                                                    <div class="col-lg-7 col-7"><span class="card-text-price">@item.DailyWage.ToString("N2")₺</span><span class="text-muted">/Günlük</span></div>
                                                    <div class="col-lg-5 col-5 text-end">
                                                        <a class="btn btn-apply-now" href="/is-ilani-detay/@item.Id">Detay</a>
                                                    </div>
                                                    @if (item.CanRate)
                                                    {
                                                        <div class="col-12 mt-2">
                                                            <span class="d-flex align-items-center" style="float:right;">
                                                                <span class="font-sm color-text-mutted">
                                                                    <a onclick="setEmployerId(@item.EmployerId)" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="modal fade" id="ModalRate" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content apply-job-form">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body pl-30 pr-30 pt-50">
                <div class="text-center">
                    <p class="font-sm text-brand-2">Puanlama</p>
                    <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">İşveren Değerlendirme</h2>
                    <p class="font-sm text-muted mb-30">Bu işverenden ne kadar memnun kaldınız ?</p>
                </div>
                <form class="login-register text-start mt-20 pb-30" onsubmit="rateEmployer(event)">
                    <input hidden name="employerId" />
                    <div class="form-group">
                        <label class="form-label" for="input-1">Puan *</label>
                        <select class="form-control" name="rating">
                            <option value="1">1 - Çok Kötü</option>
                            <option value="2">2 - Kötü</option>
                            <option value="3">3 - Orta</option>
                            <option value="4">4 - İyi</option>
                            <option value="5">5 - Çok İyi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Yorumunuz</label>
                        <input class="form-control" name="comment" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default hover-up w-100" type="submit" name="login">Değerlendirmeyi Tamamla</button>
                    </div>
                    <div class="text-muted text-center">Desteğe mi ihtiyacınız var ? <a href="/iletisim">Bizimle İletişime Geçin</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function setEmployerId(employerId) {
            $("input[name='employerId']").val(employerId);
        }

        function rateEmployer(e) {
            e.preventDefault();
            var employerId = $("input[name='employerId']").val();
            var rating = $("select[name='rating']").val();
            var comment = $("input[name='comment']").val();
            $.ajax({
                url: `/Rating/RateEmployer?employerId=${employerId}&rating=${rating}&comment=${comment}`,
                type: "GET",
                success: function (data) {
                    toastr.success(data.message)
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function (data) {
                    toastr.error(data.message)
                }
            });
        }
    </script>
}